@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('/fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
}
@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url('/fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
}

html {
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior-y: none;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        transition-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        animation-delay: 0.01ms !important;
    }
}

/* TODO: This can be removed when we no longer need the Filters component with collapsible dimensions and skills */
details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

[data-svelte-typeahead].fuzzysearch > ul > li.selected {
    background-color: 'red' !important;
    padding: 0 !important;
}
