.DS_Store
node_modules
/.vercel*
build
/.svelte-kit
/package
.env
/scripts/compiled
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Ignore pre-built assets from third-party package
/static/assets/widgets/framework.css
/static/assets/widgets/framework.umd.cjs
